<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- load the properties file: sport.properties -->
	<context:property-placeholder location="classpath:sports.properties" />

    <!-- Define your beans here -->
    <bean id="myFortune"
    	class="com.springdemo.HappyFortuneService">
    </bean>

    <bean id="myCoach"
    	class="com.springdemo.SwimCoach">
    	<!-- set up a constructor injection -->
    	<constructor-arg ref="myFortune" />
    </bean>
    
    <bean id="secCoach"
    	class="com.springdemo.SwimCoach">
    	<!-- set up a setter dependency injection -->
    	<property name="fortuneService" ref="myFortune"></property>
    	
    	<!-- inject literal values, now its reading values from sports.properties file -->
    	<property name="email" value="${foo.email}" />
    	<property name="name" value="${foo.name}" />
    </bean>
    
    <bean id="magicFortune"
    	class="com.springdemo.MagicFortuneService">
    </bean>
    <bean id="gameCoach"
    	class="com.springdemo.ApexCoach">
    	<property name="service" ref="magicFortune"></property>
    </bean>
    
</beans>





